$primario: #DB2A6B; 
$secundario: #24212D;
$fondo: #ffffff;

body {
    font-family: Grotesk, sans-serif;
}

h1,h2 {
    font-weight: normal;
}

nav {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 40px;

    a {
        text-decoration: underline;
        color: $secundario;
    }
}

.hero {
    //border: red 2px solid;
    height: 90vh;
    width: 100%;
    color: $primario;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .titulos, object {
        position: absolute;
        mix-blend-mode: difference;
    }

    h1 {
        font-size: 160px;
        margin: 10px;
    }

    h2 {
        font-size: 40px;
    }

    object {
        height: 90vh;
        width: auto;

        .path {
            stroke-dasharray: 20;
        }
    }
}

@font-face {
    font-family: "Grotesk";
    src: url("./public/fonts/grotesk.otf")format(opentype);
}