$primario: #DB2A6B; 
$secundario: #24212D;
$fondo: #ffffff;

body {
    font-family: Grotesk, sans-serif;
}

h1,h2,h3 {
    font-weight: normal;
}

p {
    font-size: 18px;
}

h3 {
    font-size: 24px;
}

svg {
    stroke: $secundario;
    stroke-width: 2px;
}

.btm {
    margin-bottom: 15vh;
}

a {
    text-decoration: underline;
}

nav {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 40px;

    a {
        color: $secundario;
    }
}

.hero {
    //border: red 2px solid;
    height: 90vh;
    width: 100%;
    color: $primario;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .titulos, svg {
        position: absolute;
        mix-blend-mode: difference;
    }

    h1 {
        font-size: 160px;
        margin: 10px;
    }

    h2 {
        font-size: 40px;
    }

    svg {
        height: 100%;
        width: auto;

        path {
            stroke-dasharray: 9617.4462890625;
            animation: retrato 4s linear normal;
        }
    }
}

@keyframes retrato {
    from {
        stroke-dashoffset: 9617.5;
      }
    to {
        stroke-dashoffset: 19235;
      }
}

.menu {
    max-width: 1600px;
    margin: 15vh auto;

    display: flex;
    flex-wrap: wrap;

    a {
        display: inline-block;
        width: 28%;
        color: $primario;
        text-align: center;
        padding: 40px;
        
        svg {
            stroke-width: 4px;
        }

        &:nth-child(4n) {
            margin-left: auto
        }

        &:nth-child(5n) {
            margin-right: auto
        }

        &:hover {
            .delicias {
                stroke-dasharray: 4550;
                animation: delicias 8s linear alternate-reverse infinite;
            }

            .presidente {
                stroke-dasharray: 4395;
                animation: presidente 8s linear alternate-reverse infinite;
            }

            .auras {
                stroke-dasharray: 2585;
                animation: auras 8s linear alternate-reverse infinite;
            }

            .tumulo {
                stroke-dasharray: 4918;
                animation: auras 8s linear alternate-reverse infinite;
            }

            .ensayo {
                stroke-dasharray: 4731;
                animation: auras 8s linear alternate-reverse infinite;
            }
        }

    }
}

@keyframes delicias {
    from {
        stroke-dashoffset: 0;
      }
    to {
        stroke-dashoffset: 18166;
      }
}

@keyframes presidente {
    from {
        stroke-dashoffset: 0;
      }
    to {
        stroke-dashoffset: 17580;
      }
}

@keyframes auras {
    from {
        stroke-dashoffset: 0;
      }
    to {
        stroke-dashoffset: 10340;
      }
}

@keyframes tumulo {
    from {
        stroke-dashoffset: 0;
      }
    to {
        stroke-dashoffset: 19670;
      }
}

@keyframes ensayo {
    from {
        stroke-dashoffset: 0;
      }
    to {
        stroke-dashoffset: 18922;
      }
}

section.container {
    border: 1px red solid;
    height: 95vh;
    width: 100vw;
    margin-bottom: 5vh;

    p {
        font-family: inter;
        font-weight: 100;
        color: $secundario;
        line-height: 1.8;
        max-width: 1000px;
        margin: 5vh auto 0 auto;
        text-align: center;

    }
    
    .player {
        margin: 40px;
        button {
            display: block;
            margin: auto;
        }
    }
}

    

//Grotesk font
@font-face {
    font-family: 'Grotesk';
    src: url('../fonts/Grotesk-Medium.eot');
    font-weight: normal;
    }
    
    @font-face {
    font-family: 'Grotesk';
    src:
    url('../fonts/Grotesk-Medium.woff2') format('woff2'),
    url('../fonts/Grotesk-Medium.woff') format('woff');
    font-weight: normal;
    }
    
    @font-face {
    font-family: 'Grotesk';
    src: url('../fonts/Grotesk-Medium.svg') format('svg');
    font-weight: normal;
    }
    
    @font-face {
    font-family: 'Grotesk';
    src: url('../fonts/Grotesk-Medium.ttf') format('truetype');
    font-weight: normal;
    }