* {
  box-sizing: border-box; }

body {
  font-family: Grotesk, sans-serif;
  width: 100% !important;
  margin: 0 !important; }

h1, h2, h3 {
  font-weight: normal; }

p {
  font-size: 18px; }
  @media screen and (max-width: 768px) {
    p {
      font-size: 14px; } }

svg {
  stroke: #24212D;
  stroke-width: 2px; }

.btm {
  margin-bottom: 15vh; }
  @media screen and (max-width: 768px) {
    .btm {
      margin-bottom: 5vh; } }

a {
  text-decoration: underline; }

h3 {
  font-size: 24px; }
  @media screen and (max-width: 650px) {
    h3 {
      font-size: 18px; } }

nav {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  padding: 40px; }
  nav a {
    color: #24212D;
    font-size: 26px; }
    @media screen and (max-width: 650px) {
      nav a {
        font-size: 20px; } }
  @media screen and (max-width: 768px) {
    nav {
      padding: 20px;
      font-size: 20px; } }

.hero {
  height: 90vh;
  width: 100%;
  color: #DB2A6B;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .hero .logo {
    width: 250px; }
    @media screen and (max-width: 800px) {
      .hero .logo {
        width: 150px; } }
  .hero .titulos, .hero svg {
    position: absolute;
    mix-blend-mode: difference; }
    .hero .titulos:hover, .hero svg:hover {
      mix-blend-mode: color; }
  .hero .titulos
h1 {
    font-size: 14vw;
    margin: 10px; }
  .hero h2 {
    font-size: 3vw;
    margin-bottom: 0.5em; }
    @media screen and (max-width: 600px) {
      .hero h2 {
        font-size: 20px; } }
  .hero svg {
    height: 100%;
    width: 100%; }
    .hero svg path {
      stroke-dasharray: 9617;
      animation: retrato 4s linear normal; }
    .hero svg path.ensayo {
      stroke-dasharray: 9461;
      animation: ensayo 5s linear normal; }
    .hero svg path.auras {
      stroke-dasharray: 5170;
      animation: auras 5s linear normal; }
    .hero svg path.delicias {
      stroke-dasharray: 9083;
      animation: delicias 5s linear normal; }
    .hero svg path.presidente {
      stroke-dasharray: 8790;
      animation: presidente 5s linear normal; }
    .hero svg path.tumulo {
      stroke-dasharray: 9835;
      animation: tumulo 5s linear normal; }
  @media screen and (max-width: 600px) {
    .hero {
      height: 90vh; } }

@keyframes retrato {
  from {
    stroke-dashoffset: 9617.5; }
  to {
    stroke-dashoffset: 19235; } }

.menu {
  max-width: 1600px;
  margin: 15vh auto;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 600px) {
    .menu {
      margin: 0 auto 5vh auto; } }
  .menu h3 {
    line-height: 1.5; }
  .menu a {
    display: inline-block;
    color: #DB2A6B;
    text-align: center;
    padding: 40px;
    width: 33.3%; }
    .menu a svg {
      stroke-width: 4px; }
    .menu a:nth-child(4n) {
      margin-left: auto; }
    .menu a:nth-child(5n) {
      margin-right: auto; }
    @media screen and (max-width: 768px) {
      .menu a {
        width: 50%;
        padding: 20px; }
        .menu a:nth-child(5n) {
          margin-right: auto;
          margin-left: auto; } }
    .menu a:hover .delicias {
      stroke-dasharray: 4550;
      animation: delicias 8s linear alternate-reverse infinite; }
    .menu a:hover .presidente {
      stroke-dasharray: 4395;
      animation: presidente 8s linear alternate-reverse infinite; }
    .menu a:hover .auras {
      stroke-dasharray: 2585;
      animation: auras 8s linear alternate-reverse infinite; }
    .menu a:hover .tumulo {
      stroke-dasharray: 4918;
      animation: tumulo 8s linear alternate-reverse infinite; }
    .menu a:hover .ensayo {
      stroke-dasharray: 4731;
      animation: ensayo 8s linear alternate-reverse infinite; }

@keyframes delicias {
  from {
    stroke-dashoffset: 9100; }
  to {
    stroke-dashoffset: 0; } }

@keyframes presidente {
  from {
    stroke-dashoffset: 8776; }
  to {
    stroke-dashoffset: 0; } }

@keyframes auras {
  from {
    stroke-dashoffset: 5200; }
  to {
    stroke-dashoffset: 0; } }

@keyframes tumulo {
  from {
    stroke-dashoffset: 8400; }
  to {
    stroke-dashoffset: 0; } }

@keyframes ensayo {
  from {
    stroke-dashoffset: 9500; }
  to {
    stroke-dashoffset: 0; } }

section.container {
  width: 100vw;
  margin-bottom: 5vh; }
  section.container .dibujo svg {
    max-height: 60vh; }
  section.container p {
    font-family: inter, sans-serif;
    font-weight: light;
    color: #24212D;
    line-height: 1.8;
    width: 1100px;
    margin: 5vh auto 0 auto;
    text-align: center;
    max-width: 95%; }
  section.container a {
    color: #DB2A6B;
    text-decoration: none; }
    section.container a:hover {
      text-decoration: underline; }
    section.container a:visited {
      color: #DB2A6B; }
  @media screen and (max-width: 768px) {
    section.container {
      margin-bottom: 0; } }
  section.container .player {
    margin: 30px; }
    @media screen and (max-width: 600px) {
      section.container .player {
        margin: 30px 20px 20px 20px; } }
    section.container .player .slider {
      position: relative;
      height: 4px;
      margin: 20px auto;
      width: 500px;
      max-width: 90%; }
      section.container .player .slider .total {
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #dcdcdc;
        border-radius: 2px; }
      section.container .player .slider .current {
        position: absolute;
        height: 4px;
        top: 0.5px;
        background: #DB2A6B; }
      @media screen and (max-width: 600px) {
        section.container .player .slider {
          height: 3px; }
          section.container .player .slider .total {
            height: 3px; }
          section.container .player .slider .current {
            height: 3px; } }
    section.container .player .botones {
      display: flex;
      justify-content: center; }
      section.container .player .botones button {
        border: none;
        background-color: white !important; }
        section.container .player .botones button:focus {
          outline: 0; }
      section.container .player .botones #boton-anterior {
        background-image: url("../svg/prev.svg");
        background-repeat: no-repeat;
        margin: 10px;
        padding: 15px; }
      section.container .player .botones #boton-siguiente {
        background-image: url("../svg/next.svg");
        background-repeat: no-repeat;
        margin: 10px;
        padding: 15px; }
      section.container .player .botones #boton-audio {
        background-image: url("../svg/play.svg");
        background-repeat: no-repeat;
        padding: 10px;
        margin: 7px 25px 0 30px; }
      section.container .player .botones #boton-audio.playing {
        background-image: url("../svg/pause.svg");
        background-repeat: no-repeat;
        padding: 10px;
        margin: 10px 25px 0 30px; }
      @media screen and (max-width: 600px) {
        section.container .player .botones #boton-anterior, section.container .player .botones #boton-siguiente {
          padding: 14px; }
        section.container .player .botones #boton-audio {
          padding: 8px; } }

section.contexto {
  width: 1100px;
  margin: 15vh auto 15vh auto;
  text-align: center;
  max-width: 90%; }
  section.contexto h3 {
    text-decoration: underline;
    margin-bottom: 50px; }
  section.contexto p {
    font-family: inter, sans-serif;
    font-weight: light;
    color: #24212D;
    line-height: 2; }

section.galeria {
  width: 1020px;
  margin: 15vh auto 15vh auto;
  max-width: 90%; }
  section.galeria h3 {
    text-decoration: underline;
    margin-bottom: 50px;
    text-align: center; }
  section.galeria .imagenes {
    display: flex;
    flex-wrap: wrap; }
    section.galeria .imagenes a {
      text-decoration: none;
      width: 33%;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 30px; }
      section.galeria .imagenes a.clicked img {
        border: #DB2A6B 2px solid; }
      @media screen and (max-width: 850px) {
        section.galeria .imagenes a {
          width: 50%; } }
      @media screen and (max-width: 650px) {
        section.galeria .imagenes a {
          width: 100%; } }
      section.galeria .imagenes a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 300px; }
      section.galeria .imagenes a p {
        font-family: inter, sans-serif;
        font-weight: light;
        color: #24212D;
        line-height: 1.5;
        hyphens: auto; }
        section.galeria .imagenes a p span {
          color: #DB2A6B; }
      section.galeria .imagenes a .info {
        display: none; }

.modal {
  display: none; }
  .modal .modal-background {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .modal .modal-close {
    position: fixed;
    top: 0;
    right: 0;
    text-decoration: underline;
    font-size: 24px;
    color: #24212D;
    padding: 40px; }
    .modal .modal-close:hover {
      color: #DB2A6B;
      cursor: pointer; }
    @media screen and (max-width: 650px) {
      .modal .modal-close {
        font-size: 20px;
        padding: 20px; } }
  .modal .modal-content {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 40px auto 40px auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: inter;
    line-height: 1.5;
    hyphens: auto; }
    .modal .modal-content img {
      max-height: 70vh;
      max-width: 80vw;
      object-fit: contain; }
      @media screen and (max-width: 650px) {
        .modal .modal-content img {
          max-height: 60vh; } }
    .modal .modal-content p {
      max-width: calc(100% - 20px); }
      .modal .modal-content p.info {
        margin-top: 0; }

section.sobre {
  margin: 10vh auto;
  width: 1100px;
  max-width: calc(100% - 40px); }
  @media screen and (max-width: 768px) {
    section.sobre {
      margin: 5vh auto; } }
  section.sobre span {
    color: #DB2A6B; }
  section.sobre p {
    font-family: inter, sans-serif;
    font-weight: light;
    font-size: 24px;
    line-height: 2;
    text-align: left; }
    @media screen and (max-width: 768px) {
      section.sobre p {
        font-size: 20px !important;
        margin: 5px; } }
    @media screen and (max-width: 600px) {
      section.sobre p {
        font-size: 14px !important;
        margin: 5px; } }
  section.sobre .center {
    text-align: center;
    display: block;
    margin: auto; }
  section.sobre a {
    color: #DB2A6B;
    text-decoration: none; }
    section.sobre a:hover {
      text-decoration: underline; }

section.creditos {
  font-family: inter, sans-serif;
  margin: 0 auto 10vh auto;
  width: 900px;
  max-width: calc(100% - 40px); }
  section.creditos h3 {
    font-size: 24px;
    text-align: center;
    margin: 0 auto 5vh auto; }
    @media screen and (max-width: 768px) {
      section.creditos h3 {
        font-size: 18px !important;
        margin: 0 auto 3vh auto; } }
  section.creditos p {
    font-weight: light;
    line-height: 2.2;
    font-size: 20px;
    text-align: center; }
    @media screen and (max-width: 768px) {
      section.creditos p {
        font-size: 12px !important; } }
    section.creditos p a {
      color: #24212D;
      text-decoration: underline; }
  section.creditos span {
    color: #DB2A6B; }

@font-face {
  font-family: 'Grotesk';
  src: url("../fonts/Grotesk-Medium.woff2") format("woff2"), url("../fonts/Grotesk-Medium.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: inter;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: inter;
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: light; }
