body {
  font-family: Grotesk, sans-serif; }

h1, h2 {
  font-weight: normal; }

nav {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  padding: 40px; }
  nav a {
    text-decoration: underline;
    color: #24212D; }

.hero {
  height: 90vh;
  width: 100%;
  color: #DB2A6B;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .hero .titulos, .hero object {
    position: absolute;
    mix-blend-mode: difference; }
  .hero h1 {
    font-size: 160px;
    margin: 10px; }
  .hero h2 {
    font-size: 40px; }
  .hero object {
    height: 90vh;
    width: auto; }
    .hero object .path {
      stroke-dasharray: 20; }

@font-face {
  font-family: "Grotesk";
  src: url("./public/fonts/grotesk.otf") format(opentype); }
